<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" >
  <link rel="stylesheet" href="style.css">
</head>
<body class="bg-light">
  <div class="container bg-white w-25 p-5 mt-5 border rounded" id="app">
    <form action="" class="form-group">
      <div v-if="step === 1">
        
        <h2 class="font-weight-normal">Step 1: Information</h2>
        <label class="grey" for="">NAME</label>
        <input id="name" name="name" v-model='name'  class="form-control bg-light m-2" type="text">
        <label class="grey" for="" >EMAIL</label>
        <input class="form-control bg-light m-2" v-model='email' id="email" name="email"  type="email">
          <p class="grey">CARD COUNT</p>
          <select v-model='numbers' class="form-control bg-light m-2">
            <option type="text"  value="1" > 1 </option>
            <option type="text"  value="2" > 2 </option>
            <option type="text"  value="3" > 3 </option>
            <option type="text"  value="4" > 4 </option>
            <option type="text"  value="5" > 5 </option>
        </select>
        <!-- card count -->

        <!-- delivery -->
        <p class="grey">DELIVERY METHOD</p>
        <select class="form-control bg-light m-2" v-model="selected">
          <option value="0">From store</option>
          <option value="5.81" >Delivery to address</option>
          <option value="4.59">Delivery to Econt office</option>
        </select>
        <button @click.prevent="next()" class="btn m-3">Next ></button>
      </div>
      <div v-if="step === 2">
        <h2 class="font-weight-normal">Step 2: Delivery Method</h2>

        <!-- delivery more fields-->
        <div v-if='selected == 0' class="small">
          <p>You can get your card againts providing your voucher at the following locations in Sofia:</p>
          <p>1. “Balkansko” Store, Knyaz Aleksander I Sq.</p>
          <span>or</span>
          <p>2. “Balkansko” Store, 4 Vitosha Blvd. Sofia</p>
          <p class="smaller">⚠You need to provide your voucher - digital or hard copy.</p>
        </div>
        <div class="grey" v-if='selected == 5.81 || selected == 4.59'>
          <label for="">ADDRESS / ECONT OFFICE</label>
          <input type="text" class="form-control bg-light m-2">
        </div>
        <!-- delivery more fields-->

      <label class="grey" for=""> COUNTRY CODE / PHONE NUMBER</label>
      <input class="form-control bg-light m-2" v-model='phone' type="number">
        <p class="grey">WHERE DID YOU LEARN ABOUT SOFUN FROM ?</p>
        <select class="form-control bg-light m-2" v-model='where'>
          <option value="">Friend or Collegue</option>
          <option value="">Facebook</option>
          <option value="">Instagram</option>
          <option value="1" v-on:click="isHidden = !isHidden">Other</option>
        </select>
        <div v-if='where == 1' >
          <p class="grey">PLEASE SPECIFY</p>
          <input type="text" class="form-control bg-light m-2" >
       </div>
        <div class="py-3 grey">
          <input type="radio">
          <span>SUBSCRIBE FOR NEWSLETTER</span>
        </div>
        <div class="d-flex justify-content-between">
        <button class="btn-primary m-2" @click.prevent="prev()">< Back</button>
        <button @click.prevent="next()" class="btn m-2">Next ></button>
        </div>
      </div>


      <div v-if="step === 3">
        <div class="d-flex justify-content-between">
        <h2 class="font-weight-normal">Confirmation</h2>
        <h5><a class="text-danger">✏Edit</a></h5>
        </div>
        <div>
          <div>Name: {{ name }}</div>
          <div>Email: {{ email }}</div>
          <div>Card count {{numbers}}</div>
          <div>Delivery Method: </div>
          <div>Address: </div>
          <div>Phone: {{ phone }}</div>
          <div>Total price: {{ totalPrice}}</div>
        </div>
        <div class="d-flex justify-content-between">
        <button class="btn-primary m-2" @click.prevent="prev()"> Back</button>
        <button class="btn m-2" >Send ></button>
        </div>
      </div>

    </form>
    <br><br><br>
     
  <hr class="bg-danger">
    <!-- total price -->
    <div class="text-right">
      <p class="total">
        <span class="small">SoFun cards ({{numbers}}):</span>
        <span class="red small font-weight-bold">{{ total }} BGN ( {{ euro }}€)</span>
        <p class="small">Shipping: <span class="red  font-weight-bold">{{ selected }}  BGN ({{ euroDelivery }}€)</span> </p>
        <hr>
        <p>Total: <span class="red font-weight-bold">{{ totalPrice}} BGN ({{ totalPriceEuro }}€)</span></p>
    </div>          
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</html>