body {
  font-size: 20px;
}
.grey {
  color: #c9c9c9;
}
.red {
  color: #c62b2b;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0.2rem 2rem;
  font-size: 1.7rem;
  border: none;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  background-color: #fff;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background-color: #f83c3c;
}
.btn:hover {
  background-color: #c62b2b;
  color: white;
}
.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0.2rem 2rem;
  font-size: 1.8rem;
  border: none;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  background-color: #fff;
  color: #f83c3c;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: 2px solid #f83c3c;
  background: white;
}
.btn-primary:hover {
  background: #f83c3c;
  color: white;
  border: 2px solid #f83c3c;
}
.smaller {
  font-size: 13px;
}
